.addFilmButton {
    margin-top: 2rem;
    background-color: var(--dark-green);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.addFilmButton:hover {
    background-color: var(--main-green);
}