
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-green);
    margin: 1.75rem 1.75rem;
    border-radius: 10px;
    width: 20%;
    padding: 1.25rem 1.75rem;
  }
  
  .card img{
    width: 90%;
    border-radius: 10px;
  }
  
  .card-info{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
  
  .infos{
    display: flex;
    flex-direction: column;
  }
  
  
  .duration{
    font-weight: bold;
  }